/* Reset Style */
* {
  padding: 0;
  margin: 0;
}

/* Body Styling */
body {
  background-image: url("images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-color: #684bb1;
  font-size: 100%;
  width: 296px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* Header Styling */
header {
  margin: 40px 0 70px 0;
}
header img {
  width: 120px;
}

/* Figure Styling */
figure {
  margin-bottom: 35px;
}
figure img {
  width: 296px;
}

/* Main Styling */
main h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1.5em;
  color: #fff;
  margin-bottom: 16px;
}

main p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
  color: #fff;
  margin-bottom: 24px;
}

main button {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.75em;
  line-height: 1.5em;
  color: #684bb1;
  width: 200px;
  margin-bottom: 64px;
}

/* Section Styling */
section {
  margin-bottom: 32px;
}
section i {
  color: #fff;
}

/* Footer Styling */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
