/* Reset Style */
* {
  padding: 0;
  margin: 0;
}

/* Body Styling */
body {
  background-image: url("images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #684bb1;
  font-size: 100%;
  display: flex;
  flex-direction: column;
}

/* Main Styling */
main h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1.5em;
  color: #fff;
  text-align: center;
}

main p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
  color: #fff;
  text-align: center;
}

main button {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.75em;
  line-height: 1.5em;
  color: #684bb1;
  background-color: #fff;
  padding: 11.5px 75.5px;
  border-radius: 20px;
  border: none;
  display: block;
  margin: 0 auto;
}

/* Section Styling */
section {
  align-self: center;
}

section i {
  color: #fff;
  padding: 0 5px;
}

/* Footer Styling */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
