/* Reset
__________________________________________*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Body
__________________________________________*/
body {
  min-height: 100vh;
  background-image: url("images/bg-mobile.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #684bb1;
  font-size: 100%;
}

/* Main
__________________________________________*/
main {
  font-size: 62.5%;
  margin: 38px 35px 40px 36px;
}

/* Header
__________________________________________*/
header {
  margin-bottom: 70px;
}
header img {
  width: 39.473684%;
  max-width: 200px;
}

/* Section
__________________________________________*/
#illustration_mockup img {
  width: 100%;
}
#registration {
  margin: 60px 0 64px 0;
}
#registration h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.4em;
  color: #fff;
  font-weight: 600;
  line-height: 1.5em;
  text-align: center;
  margin-bottom: 16px;
}
#registration p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6em;
  color: #fff;
  line-height: 1.5em;
  text-align: center;
  margin-bottom: 24px;
}
#registration button {
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
  color: #684bb1;
  background-color: #fff;
  line-height: 1.5em;
  border: none;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.26) 1px 3px 5px 0;
  display: block;
  margin: 0 auto;
  width: 200px;
  padding: 11px 0 11px 0;
}

/* Aside
__________________________________________*/
aside ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
aside ul li:nth-child(2) {
  padding: 0 11px;
}
aside ul li a {
  text-decoration: none;
  font-size: 1.6em;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  width: 28px;
}

/* RWD
__________________________________________*/
@media screen and (min-width: 1000px) {
  body {
    background-image: url("images/bg-desktop.svg");
    background-size: cover;
  }

  main {
    margin: 64px 80px 40px 80px;
  }

  section {
    display: flex;
    margin-bottom: 27px;
  }
  #illustration_mockup {
    width: 57.973611%;
  }
  #registration {
    width: 42.026389%;
    margin: 32px 0 27px 59px;
  }
  #registration h1 {
    font-size: 4em;
    text-align: left;
    margin-bottom: 24px;
  }
  #registration p {
    font-size: 1.8em;
    text-align: left;
  }
  #registration button {
    font-size: 1.8em;
    box-shadow: rgba(0, 0, 0, 0.26) 2px 4px 9px 3px;
    margin: 0;
  }

  aside ul {
    justify-content: flex-end;
  }
  aside ul li:nth-child(2) {
    padding: 0 16px;
  }
  aside ul li a {
    text-decoration: none;
    font-size: 2em;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
  }
}
